.wrapper {
    width: 960px;
    margin: 0 auto;
}
body {
    background: #777;
    color: #777;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
header {
    padding: 30px;
    background-color: #ebebeb;
}
nav {
    padding: 30px;
    background-color: #ebebeb;
    margin: 10px 0 20px 0;
}
section {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #ebebeb;
    width: 495px;
    float: left;
    position: relative;
    height: 200px;
}
article {
    color: #ebebeb;
    background-color: #777;
    position: relative;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 140px;
    width: 455px;
}
.top {
    background-color: #ebebeb;
    color: #777;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    width: 435px;
    font-weight: bold;
}
.bottom {
    background-color: #ebebeb;
    color: #777;
    position: relative;
    padding: 10px;
    width: 435px;
    margin-top: 10px;
}
aside {
    padding-top: 30px;
    padding-bottom: 0;
    background-color: #ebebeb;
    width: 445px;
    float: right;
    position: relative;
    height: 200px;
}
footer {
    clear: both;
    margin-top: 20px;
    padding: 30px;
    background-color: #ebebeb;
}
